[Unit]
Description=Alarm service, designed to be called each second and check should it make the alarm sound

[Service]
# Correct behavior:
#ExecStart=/bin/bash -c '[[ $(date +%%H:%%M:%%S) == "$(cat /etc/alarm/alarm.conf):00" ]] && (echo "$(date +%%H:%%M:%%S) BEEP!" >> /var/log/alarm/alarm.log; for i in {1..10}; do echo -ne "\007"; sleep 1; done;)'

# Debug - just log every second
ExecStart=/bin/bash -c 'echo "$(date +%%H:%%M:%%S) BEEP!" >> /var/log/alarm/alarm.log'
Nice=-20

[Install]
WantedBy=multi-user.target
